
<script>
    export let transformed_data = [];
    export let max_city;
    export let min_city;
    const width = 600;
    const days=[...Array(31).keys()]
    const height = 250;
    const margin = { top: 10, right: 10, bottom: 10, left: 10 };
    const innerWidth = width - margin.left - margin.right;
    const innerHeight = height - margin.top - margin.bottom;
    const buildingHeight=innerHeight/18;
    const rescale = function(x, domain_min, domain_max) {
    return ((6 - 0.5)*(x-domain_min))/(domain_max-domain_min) + 0.5
    }
    let pathGenerator_separate=(data,data_range_max,data_range_min)=>{
        let path="M 0,0";
        data.forEach((value,idx_day)=>{
            path+=" "+((innerWidth-100)/744*idx_day)+','+(-rescale(value,data_range_min,data_range_max))
           })
        path+=" "+((innerWidth-100)/744*743)+",0"
        return path
    }
    let pathGenerator_separate_neg=(data,data_range_max,data_range_min)=>{
    let path="M 0,0";
        data.forEach((value,idx_day)=>{
            path+=" "+((innerWidth-100)/744*idx_day)+','+(rescale(value,data_range_min,data_range_max))
          })
        path+=" "+((innerWidth-100)/744*743)+",0"
        return path
    }
</script>

<svg {width} {height}>
    <g transform="translate({margin.left+100}, {margin.top})">
      <text  x=100 y=4>Hourly heating december</text>
    {#each Object.keys(transformed_data) as building, building_idx}
        <g transform="translate(0,{20+buildingHeight*building_idx})">
            <text font-size=9 x=-100 y=3>{building}</text>
            <path  d={pathGenerator_separate(transformed_data[building],max_city,min_city)}/>
            <path  d={pathGenerator_separate_neg(transformed_data[building],max_city,min_city)}/>
        </g>
      {/each}
      {#each days as day}
        <line x1={(innerWidth-100)/31*(day+0.5)} y1={innerHeight-3} x2={(innerWidth-100)/31*(day+0.5)} y2={innerHeight-11}> </line>
        <text font-size=8 x={(innerWidth-100)/31*(day+0.5)-4} y={innerHeight+4}>{day+1}</text>
      {/each}
      <line x1=0 y1={innerHeight-7} x2={innerWidth-100} y2={innerHeight-7}> </line>
      <text font-size=8 x=-20 y={innerHeight+4}>Day</text>
    </g>
  </svg>
  

<style>
    svg {
      border: 1px solid black;
      border-radius: 5px;
    }
    line{
      stroke:black;
    }
  path{
        fill:black;
        fill-opacity:1;
            }
  </style>