<script>
    export let transformed_data={}
    export let rScale
    import {axisLeft} from 'd3-axis'
    import {select} from 'd3-selection';
    let pathGenerator_heating=(data)=>{
        let path="M";
        Object.keys(data).forEach((month_nr)=>{data[month_nr]['heating']
        .forEach((value,idx_day)=>{
            path+=" "+(rScale(value)*Math.cos(Math.PI/180*(90-(30/data[month_nr]['days']*idx_day+(month_nr-1)*30))))+','+(-rScale(value)*Math.sin(Math.PI/180*(90-(30/data[month_nr]['days']*idx_day+(month_nr-1)*30))))
           })})
        return path
    }
    let pathGenerator_cooling=(data)=>{
        let path="M";
        Object.keys(data).forEach((month_nr)=>{data[month_nr]['cooling']
        .forEach((value,idx_day)=>{
            path+=" "+(rScale(value)*Math.cos(Math.PI/180*(90-(30/data[month_nr]['days']*idx_day+(month_nr-1)*30))))+','+(-rScale(value)*Math.sin(Math.PI/180*(90-(30/data[month_nr]['days']*idx_day+(month_nr-1)*30))))
        })})
        return path
    }
    const yAxis = (node) => axisLeft(rScale).tickValues([30000,70000,110000]).tickSize(10)(
        select(node).style('font-size', 7)
        );
</script>


<path class="heating" d={pathGenerator_heating(transformed_data)}/>
<path class="cooling" d={pathGenerator_cooling(transformed_data)}/>
<g use:yAxis>

  </g>
{#each Object.keys(transformed_data) as month,idx}
<circle class="heating" cx={rScale(transformed_data[month]['heating'][0])*Math.cos(Math.PI/180*(90-idx*30))} cy={-rScale(transformed_data[month]['heating'][0])*Math.sin(Math.PI/180*(90-idx*30))} r=1.5></circle>
<circle class="cooling" cx={rScale(transformed_data[month]['cooling'][0])*Math.cos(Math.PI/180*(90-idx*30))} cy={-rScale(transformed_data[month]['cooling'][0])*Math.sin(Math.PI/180*(90-idx*30))} r=1.5></circle>
{/each}

<style>

    path.heating{
        fill:red;
        fill-opacity:0.4;
        stroke:red;
        stroke-opacity:1;
        stroke-linecap:'but';
        stroke-width: 0.7;
        stroke-linejoin:"round";
    }
    path.cooling{
        fill:blue;
        fill-opacity:0.4;
        stroke:blue;
        stroke-opacity:1;
        stroke-linecap:'but';
        stroke-width: 0.7;
        stroke-linejoin:"round";
    }
  circle.heating {
  fill: red;
    }
  circle.cooling {
  fill: blue;
   }

</style>