<script>
    export let transformed_data={}
    export let sign=null
    export let rScale
    export let week

    let pathGenerator_electricity=(data,week)=>{
        if(week==5){
        let path="M 0,0";
        data['electricity']
        .forEach((value,idx)=>{
            path+=" "+(idx*120/168*sign)+','+(-rScale(value))
            })
            path+=" "+((72-1)*120/168*sign)+",0"
        return path
    }
    else{
        let path="M 0,0";
        data['electricity']
        .forEach((value,idx)=>{
            path+=" "+(idx*120/168*sign)+','+(-rScale(value))
            })
            path+=" "+((168-1)*120/168*sign)+",0"
        return path
    }
}
    let pathGenerator_gas=(data)=>{
        if(week==5){
        let path="M 0,0";
        data['gas']
        .forEach((value,idx)=>{
            path+=" "+(idx*120/168*sign)+','+(rScale(value))
            })
            path+=" "+((72-1)*120/168*sign)+",0"
        return path
    }
    else{
        let path="M 0,0";
        data['gas']
        .forEach((value,idx)=>{
            path+=" "+(idx*120/168*sign)+','+(rScale(value))
            })
            path+=" "+((168-1)*120/168*sign)+",0"
        return path
    }
    }
</script>

<g transform="rotate({-sign*15})">
<path class="electricity" d={pathGenerator_electricity(transformed_data,week)}/>
<path class="gas" d={pathGenerator_gas(transformed_data,week)}/>
</g>

<style>

    path.electricity{
        fill:blue;
        fill-opacity:0.6;
        stroke:blue;
        stroke-opacity:1;
        stroke-linecap:'round';
        stroke-width: 0.8;
        stroke-linejoin:"round";
    }
    path.gas{
        fill:orange;
        fill-opacity:0.6;
        stroke:orange;
        stroke-opacity:1;
        stroke-linecap:'round';
        stroke-width: 0.8;
        stroke-linejoin:"round";
    }


</style>