<script>
  // Properties
  export let present=[];
  const city = ["Baltimore", "Chicago", "Los Angeles"];
  const scale = ["within building type","across all building types"];
  $:selected_city="Baltimore";
  $:selected_scale="within building type";
  $:present=[selected_city,selected_scale];

</script>

<form>
  <div>
    <h3 style="font-size:1em;">City:</h3>
    {#each city as cit}
    <label>
    <input type=radio name="City" id={cit} value={cit} bind:group={selected_city} style="margin-right: 10"/>
    {cit} 
    </label>
    <br>
    {/each}
  </div>
  <div>
    <h3 style="font-size:1em;">Scaling:</h3>
    {#each scale as scaling}
    <label>
    <input type=radio name="Scale" id={scaling} value={scaling} bind:group={selected_scale} style="margin-right: 10"/>
    {scaling}
    </label>
    <br>
    {/each}

  </div>
</form> 