<script>
  import {onMount} from 'svelte'
  import { json } from "d3-fetch";
  import Week from './_design_3_week.svelte'
  import {extent} from 'd3-array'
  import {scaleLinear} from 'd3-scale'
  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const weekHeight=(innerHeight-100)/5;
  let datapoints=null
  let transformed_data={}
  let ready
  let rScale
  onMount(async () => {
  datapoints = await json('/data/hourly_electricity_vs_gas_december.json')
  datapoints.forEach((d)=>{
      if (!(d.week in transformed_data)){
        transformed_data[d.week]={"electricity":[],"gas":[]}
      }
      transformed_data[d.week]["electricity"].push(d.total_electrity)
      transformed_data[d.week]["gas"].push(d.total_gas)
      })
      ready=true
      rScale=scaleLinear().domain([0,extent(datapoints.map((d)=>Math.max(d.total_electrity,d.total_gas)))[1]]).range([0,100])
  })

</script>

{#if ready}
<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <text font-size=20 x={innerWidth/2-85} y=10>Gas and electricity use</text>
    <line x1={innerWidth/2} x2={innerWidth/2} y1={5*margin.bottom} y2={innerHeight-10*margin.bottom}/>
    <line x1={innerWidth-50} x2={innerWidth-50} y1={5*margin.bottom} y2={innerHeight-10*margin.bottom}/>
    <line x1={innerWidth-50} y1={5*margin.bottom} x2={innerWidth-50-Math.cos(Math.PI/3)*10} y2={5*margin.bottom+Math.sin(Math.PI/6)*10}> </line>
    <line x1={innerWidth-50} y1={5*margin.bottom} x2={innerWidth-50+Math.cos(Math.PI/3)*10} y2={5*margin.bottom+Math.sin(Math.PI/6)*10}> </line>
    <text font-style="italic" font-size=30 x={-55+innerWidth/2} y={innerHeight-6*margin.bottom}>Chicago</text>
    <text font-style="italic" font-size=20 x={innerWidth/2} y={innerHeight-3*margin.bottom}>(December 2014)</text>
    <rect x=20 y={6*margin.bottom} width=10 height=10 fill="blue"></rect>
    <text x=40 y={7*margin.bottom}>Electricity usage</text>
    <rect x=20 y={4*margin.bottom} width=10 height=10 fill="orange"></rect>
    <text x=40 y={5*margin.bottom}>Gas usage</text>
    <text x={innerWidth-70} y=45>Week</text>
    {#each Object.keys(transformed_data) as week, week_idx}
    <g transform="translate({innerWidth/2},{-35+innerHeight-weekHeight*(week_idx+1)})">
      <circle cx=0 cy=0 r=2> </circle>
      {#if week_idx%2==0 && week_idx!=4}
      <line x1={innerWidth/2-60} x2={innerWidth/2-40} y1=0 y2=0 />
      <text x={innerWidth/2-25} y=5>{week_idx+1}</text>
      <line x1=0 x2={120*Math.cos(Math.PI/180*15)} y1=0 y2={-120*Math.sin(Math.PI/180*15)} />
      <Week transformed_data={transformed_data[week]} {rScale} sign=1 week={week_idx+1}/>
      {:else if week_idx==4}
      <line x1={innerWidth/2-60} x2={innerWidth/2-40} y1=0 y2=0 />
      <text x={innerWidth/2-25} y=5>{week_idx+1}</text>
      <line x1=0 x2={120/168*72*Math.cos(Math.PI/180*15)} y1=0 y2={-120/168*72*Math.sin(Math.PI/180*15)} />
      <Week transformed_data={transformed_data[week]} {rScale} sign=1 week={week_idx+1}/>
      {:else}
      <line x1={innerWidth/2-60} x2={innerWidth/2-40} y1=0 y2=0 />
      <text x={innerWidth/2-25} y=5>{week_idx+1}</text>
      <line x1=0 x2={-120*Math.cos(Math.PI/180*15)} y1=0 y2={-120*Math.sin(Math.PI/180*15)} />
      <Week transformed_data={transformed_data[week]} {rScale} sign=-1 week={week_idx+1}/>
      {/if}
      </g>
      {/each}
    <g transform="translate({innerWidth/2},{-35+innerHeight-weekHeight*1.6})">
      <line x1={-10} x2={-10-50*Math.cos(Math.PI/180*15)} y1=30 y2={30-50*Math.sin(Math.PI/180*15)} />
      <line x1={-10-50*Math.cos(Math.PI/180*15)} y1={30-50*Math.sin(Math.PI/180*15)} x2={-10-50*Math.cos(Math.PI/180*15)+10} y2={30-50*Math.sin(Math.PI/180*15)+6}> </line>
      <line x1={-10-50*Math.cos(Math.PI/180*15)} y1={30-50*Math.sin(Math.PI/180*15)} x2={-10-50*Math.cos(Math.PI/180*15)+12} y2={30-50*Math.sin(Math.PI/180*15)}> </line>
      <text font-size=10 x=-60 y={50-50*Math.sin(Math.PI/180*15)}>Day of</text>
      <text font-size=10 x=-60 y={60-50*Math.sin(Math.PI/180*15)}>week</text>
    </g>

  </g>
</svg>
{:else}
<p>Loading the data...</p>
{/if}


<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  line {
  stroke:black
} 
</style>
