<script>
  import {onMount} from 'svelte'
  import { json } from "d3-fetch";
  import City from './_design_2_city.svelte'
  import {extent} from 'd3-array'
  import {scaleLinear} from 'd3-scale'

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  let cityWidth=innerWidth/3;
  let datapoints=null
  let transformed_data={}
  let ready
  let rScale
  onMount(async () => {
  datapoints = await json('/data/daily_heating_cooling.json')
  datapoints.forEach((d)=>{
      if (!(d.city in transformed_data)){
        transformed_data[d.city]={}
      }
      if (!(d.month in transformed_data[d.city])){
        transformed_data[d.city][d.month]={"heating":[],"cooling":[],'days':null}
      }
      transformed_data[d.city][d.month]["heating"].push(d.heating)
      transformed_data[d.city][d.month]["cooling"].push(d.cooling)
      transformed_data[d.city][d.month]["days"]=d.day
      })
      ready=true
      rScale=scaleLinear().domain([0,extent(datapoints.map((d)=>Math.max(d.heating,d.cooling)))[1]]).range([0,70])
    })
    
 
</script>

{#if ready}
<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <text font-size=20 x={innerWidth/2-150} y=10> Heating and cooling within a year</text>
    <rect x=5 y={innerHeight-4*margin.bottom+14} width=10 height=10 fill="red"></rect>
    <text x=25 y={innerHeight-3*margin.bottom+14}>Heating</text>
    <rect x=5 y={innerHeight-2*margin.bottom+14} width=10 height=10 fill="blue"></rect>
    <text x=25 y={innerHeight-1*margin.bottom+14}>Cooling</text>
    <path d="M 120,50 Q 140,50 160,70" />
    <line x1=160 y1=70 x2=160 y2=65> </line>
    <line x1=160 y1=70 x2=155 y2=70> </line>
    <text font-size=10 x=145 y=50>Month</text>
    {#each Object.keys(transformed_data) as city, city_idx}
      <g transform="translate({cityWidth*city_idx+cityWidth/2},{innerHeight/2+20})">
        <circle class="city" cx=0 cy=0 r=70> </circle>
        <line x1=-70 x2=70 y1=0 y2=0/>
        <line x1=0 x2=0 y1=-70 y2=70/>
        <text x=-30 y=-100>{city}</text>
        <text x=-3 y=-75>0</text>
        <text x=-3 y=85>6</text>
        <text x=-85 y=3>9</text>
        <text x=75 y=3>3</text>
        <City transformed_data={transformed_data[city]} {rScale}/>
      </g>
    {/each}
  </g>

</svg>
{:else}
<p> Loading the data...</p>
{/if}

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  path{
        stroke:black;
        fill: none;
    }
  circle.city {
  fill: none;
  stroke: black;
  }
  line {
  stroke:black
} 
</style>
