<style>
  .last_clicked{background-color:aqua;}
</style>

<script>
  let current = "";
</script>

<!-- We will cover buttons in week 7! -->
<button class="btn btn-secondary" class:last_clicked="{current==="messi"}" on:click={() => (current = "messi")}>
  Messi
</button>

<button class="btn btn-secondary" class:last_clicked="{current==="ronaldo"}" on:click={() => (current = "ronaldo")}>
  Ronaldo
</button>

<button class="btn btn-secondary" class:last_clicked="{current==="neymar"}" on:click={() => (current = "neymar")}>
  Neymar
</button>


