<script>
    const name="Sara Rutten";
    const list=[" pizza"," vacation"," sun"];
    const student={name,list};
</script>
<p>My name is {student.name} and these are some of my favourite things: {student.list}. </p>